.marks-main{
    display: flex;
    justify-content: space-around;
    margin: 40px 0px ;
    flex-wrap: wrap;
    img{
        width: 16%;
    }
}
@media (max-width:575px) {
    .marks-main{
        gap: 15px 0px;
        img{
            width: 49% !important;
        }
    }

}
@media (min-width:576px) and (max-width:767px) {
    .marks-main{
        gap: 15px 0px;
        img{
            width: 49% !important;
        }
    }
}
@media (min-width:768px) and (max-width:992px) {
    .marks-main{
        gap: 10px 0px;
        img{
            width: 33% !important;
        }
    }
}